.address__text {
  margin-top: -8px;
  font-family: $roboRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
  color: $footer-gray;
  @media screen and(max-width: $tablet) {
    margin-top: 0px;
  }
}
