.dots {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 36px;
  @media screen and(max-width: $tablet) {
    bottom: 17px;
  }
  @media screen and(max-width: $mobile) {
    bottom: 10px;
  }
}

.dots__btn {
  width: 8px;
  height: 8px;
  padding: 0;
  margin-right: 8px;
  border-radius: 50%;
  background-color: $slider-blue;
  border: none;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:disabled  {
    cursor: auto;
    &:hover {
      opacity: 1;
    }
  }
  @media screen and(max-width: $mobile) {
    width: 6px;
    height: 6px;
    margin-right: 5px;
  }
}

.dots__btn.active {
  background-color: $white;
}
