.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 91px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 34px;
  z-index: 10;
  @media screen and(max-width: $tablet) {
    padding-top: 21px;
  }
  @media screen and(max-width: $mobile) {
    padding-top: 13px;
  }
}

.page-header__wrapper {
  margin: 0;
  display: flex;
  @media screen and(max-width: $mobile) {
    justify-content: space-between;
  }
}

.page-header__wrapper > .logo {
  margin: 0;
  @media screen and(max-width: $mobile) {
    margin-left: -122px;
  }
}
