.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 91px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 34px;
  z-index: 10;
  box-sizing: border-box;
  background-color: $background-white;
  @media screen and(max-width: $tablet) {
    min-height: 69px;
    padding-top: 21px;
    padding-bottom: 24px;
  }
  @media screen and(max-width: $mobile) {
    min-height: 48px;
    padding-top: 13px;
    padding-bottom: 18px;
  }
}

.page-header__wrapper {
  margin: 0;
  display: flex;
  @media screen and(max-width: $mobile) {
    justify-content: space-between;
  }
}

.page-header__wrapper > .logo {
  margin: 0;
  @media screen and(max-width: $mobile) {
    margin-left: -122px;
    z-index: 5;
  }
}
