.login-popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 544px;
  height: 493px;
  padding: 0 56px;
  background-color: $background-pink;
  border: 4px solid $blue;
  @media screen and(max-width: $tablet) {
    width: 678px;
  }
}

.login-popup__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.login-popup__btn {
  margin-right: 8px;
  margin-bottom: 8px;
  position: relative;
  background-color: $background-pink;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 0;
    border: 1px solid $black;
    transform: translate(0px, -50%) rotate(45deg);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 25px;
    height: 0;
    border: 1px solid $black;
    transform: translate(0px, 50%) rotate(-45deg);
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  box-sizing: border-box;
}

.login-form__label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: $roboRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $label-black;
  &:first-child {
    margin-bottom: 29px;
  }
}

.login-form__field {
  width: 424px;
  height: 60px;
  padding-left: 25px;
  font-family: $roboRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $black;
  background: $background-pink;
  border: 1px solid $black;
  box-sizing: border-box;
  border-radius: 4px;
  &:invalid {
    border: 1px solid $black;
  }
  &:focus ~ .login-form__required {
    display: none;
  }
}

.login-form__field.error {
  border: 1px solid $text-error-red;
}

.login-form__errorText {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  font-family: $roboRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $text-error-red;
}

.login-form__errorText.error {
  display: block;
}

.login-form__pass-btn {
  position: absolute;
  top: 46px;
  right: 24px;
  width: 22px;
  height: 12px;
  background: $white;
}

.login-form__link {
  align-self: flex-end;
  margin-top: 7px;
  font-family: $roboRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: $footer-gray;
}

.login-form__submit {
  width: 424px;
  margin-top: 25px;
  font-size: 18px;
  line-height: 60px;
  color: $white;
  text-align: center;
  background: $blue;
  cursor: pointer;
}
