.login-logo{
  display: flex;
}

.login-logo__image {
  align-self: center;
}

.login-logo__title {
  align-self: flex-end;
}

.login-logo__text {
  margin: 0;
  margin-left: 10px;
  font-family: $workBold;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23.46px;
  color: $black;
}

.login-logo__small {
  margin: 0;
  margin-left: 10px;
  font-family: $roboRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  color: $black;
}
