.main-header {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  min-height: 400px;
  @media screen and(max-width: $tablet) {
    min-height: 300px;
  }
  @media screen and(max-width: $mobile) {
    min-height: 226px;
  }
}

.main-header__item {
  width: 100%;
}
