.offer {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  height: 389px;
  margin-top: 16px;
  background-color: $background-pink;
}

.offer__title {
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: 58px;
  font-family: $roboMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: $black;
}

.offer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  margin-top: 25px;
  padding-left: 58px;
  padding-right: 55px;
}

.offer__item {
  display: flex;
  flex-direction: column;
}

.offer__data {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $roboMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: $black;
}

.offer__comment {
  margin-top: 2px;
  margin-bottom: 0;
  font-family: $roboRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $label-black;
}

.offer__button {
  align-self: center;
  width: 382px;
  margin-top: 33px;
  font-size: 16px;
  line-height: 51px;
  color: $white;
  background-color: $blue;
}

.loan-amount {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.loan-rate {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 34px;
}

.loan-payment {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 27px;
}

.loan-salary {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 27px;
  margin-left: 34px;
}
