.services {
  position: relative;
  min-height: 410px;
  margin-top: 60px;
  box-sizing: border-box;
  .dots__btn.active {
    background-color: $dots-gray;
  }
  @media screen and(max-width: $tablet) {
    min-height: 380px;
    margin-top: 0;
  }
  @media screen and(max-width: $mobile) {
    min-height: 362px;
  }
}

.services__controls {
  display: none;
  @media screen and(max-width: $tablet) {
    display: flex;
  }
}

.services__item {
  width: 100%;
  min-height: 410px;
  box-sizing: border-box;
  @media screen and(max-width: $tablet) {
    min-height: 380px;
  }
  @media screen and(max-width: $mobile) {
    min-height: 362px;
  }
}
